<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aldokana">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcherrr"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcherrr_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ChooseAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.CartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.AddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible"/>
        <activity android:name=".Activities.CallUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.AboutAppActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.QuestionAndAnswerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.AddressesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.NotificationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.PromoCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.LanguageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.MainPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.VerificationCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible"/>
        <activity android:name=".Activities.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible"/>
        <activity android:name=".Activities.Slider"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize"/>
        <activity android:name=".Activities.Splash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>